<!-- ================= CARD MENU ================= -->
<div class="menu-container">
  <div class="menu-card" (click)="goTo('profil')">
    <div class="menu-text">
      <span class="menu-sub">Profil Saya</span>
      <span class="menu-title">Profil</span>
    </div>
    <div class="menu-icon blue">
      <i class="bi bi-person"></i>
    </div>
  </div>

  <div class="menu-card" (click)="goTo('beranda')">
    <div class="menu-text">
      <span class="menu-sub">Beranda</span>
      <span class="menu-title">Beranda</span>
    </div>
    <div class="menu-icon red">
      <i class="bi bi-grid"></i>
    </div>
  </div>

  <div class="menu-card" (click)="goTo('materi')">
    <div class="menu-text">
      <span class="menu-sub">1. Kelola Materi</span>
      <span class="menu-title">Materi</span>
    </div>
    <div class="menu-icon red">
      <i class="bi bi-folder2-open"></i>
    </div>
  </div>

  <div class="menu-card" (click)="goTo('pelatihan')">
    <div class="menu-text">
      <span class="menu-sub">2. Kelola Pelatihan</span>
      <span class="menu-title">Pelatihan</span>
    </div>
    <div class="menu-icon red">
      <i class="bi bi-folder2-open"></i>
    </div>
  </div>
</div>

<div class="course-container">
  <h4 class="title">Kursus yang Sedang Anda Jalani</h4>
  <div class="timeline">
    <!-- Hari -->
    <div class="day" *ngFor="let day of days; let i = index">
      <div class="day-label">Hari ke {{ i + 1 }}</div>
      <div class="day-circle">
        <i class="fa fa-cloud"></i>
      </div>
    </div>

    <!-- Garis -->
    <div class="line"></div>

    <!-- Materi -->
    <div class="materi-wrapper">
      <div class="materi" *ngFor="let m of materi; let i = index">
        <div class="materi-circle">
          <i class="fa fa-book"></i>
        </div>
        <div class="materi-label">Materi {{ i + 1 }}</div>
      </div>
    </div>
  </div>
</div>

<!-- ================= LIST KURSUS ================= -->
<div class="course-list-card">
  <!-- SEARCH -->
  <div class="search-box">
    <input
      type="text"
      class="form-control"
      placeholder="Cari kursus..."
      [(ngModel)]="searchText"
      (input)="onSearch()"
    />
  </div>

  <div class="training-container">
    <div class="list-wrapper">
      <div class="training-item" *ngFor="let item of pagedData">
        <!-- LEFT IMAGE -->
        <div class="training-img">
          <img [src]="item.gambar" alt="training" />
        </div>

        <!-- MIDDLE INFO -->
        <div class="training-info">
          <div class="top-row">
            <div class="training-title">
              {{ item.judul }}
            </div>
            <span class="status-badge" [class.selesai]="item.progress === 100">
              {{ item.status }}
            </span>
          </div>

          <div class="bottom-row">
            <div class="tanggal">Waktu Mulai : {{ item.tanggalMulai }}</div>
            <div class="progress training-progress">
              <div class="progress-bar" [style.width.%]="item.progress"></div>
            </div>
            <!-- BUTTON AKSI DI BAWAH PROGRESS -->
            <div class="training-action">
              <button
                *ngIf="item.progress < 100"
                class="btn btn-primary btn-sm"
                (click)="isiKehadiran(item)"
              >
                Mengisi Kehadiran
              </button>

              <button
                *ngIf="item.progress === 100"
                class="btn btn-secondary btn-sm"
                (click)="lihatRiwayat(item)"
              >
                Riwayat
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PAGINATION -->

      <div class="pagination-box">
        <span class="page-info">
          Menampilkan {{ pagedData.length }} dari {{ filteredData.length }} item
          | Hal {{ currentPage }} /
          {{ totalPages }}
        </span>
        <div class="pagination-buttons">
          <button
            class="btn btn-sm btn-secondary"
            (click)="prevPage()"
            [disabled]="currentPage === 1"
          >
            Prev
          </button>
          <button
            class="btn btn-sm btn-primary"
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Capacity</p>
              <p class="card-title">150GB</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">$ 1,345</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-calendar-o"></i> Last day</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-clock-o"></i> In the last hour</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i> Update now</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body">
        <canvas id="chartHours" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Email Statistics</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr />
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">NASDAQ: AAPL</h5>
        <p class="card-category">Line Chart with Points</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div> -->
