<!-- ================= CARD MENU ================= -->
<div class="menu-container">
  <div class="menu-card" (click)="goTo('profil')">
    <div class="menu-text">
      <span class="menu-sub">Profil Saya</span>
      <span class="menu-title">Profil</span>
    </div>
    <div class="menu-icon blue">
      <i class="bi bi-person"></i>
    </div>
  </div>

  <div class="menu-card" (click)="goTo('beranda')">
    <div class="menu-text">
      <span class="menu-sub">Beranda</span>
      <span class="menu-title">Beranda</span>
    </div>
    <div class="menu-icon red">
      <i class="bi bi-grid"></i>
    </div>
  </div>

  <div class="menu-card" (click)="goTo('materi')">
    <div class="menu-text">
      <span class="menu-sub">1. Kelola Materi</span>
      <span class="menu-title">Materi</span>
    </div>
    <div class="menu-icon red">
      <i class="bi bi-folder2-open"></i>
    </div>
  </div>

  <div class="menu-card" (click)="goTo('pelatihan')">
    <div class="menu-text">
      <span class="menu-sub">2. Kelola Pelatihan</span>
      <span class="menu-title">Pelatihan</span>
    </div>
    <div class="menu-icon red">
      <i class="bi bi-folder2-open"></i>
    </div>
  </div>
</div>
