<div class="content-login">
  <div class="login-card">
    <h4>Masukan Akun</h4>

    <!-- EMAIL -->
    <div class="form-group">
      <input type="email" placeholder="username" [(ngModel)]="email" />
    </div>

    <!-- PASSWORD -->
    <div class="form-group password-group">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        [(ngModel)]="password"
      />

      <i
        class="fa-solid"
        [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
        (click)="togglePassword()"
      >
      </i>
    </div>

    <!-- CAPTCHA -->
    <div class="form-group captcha">
      <span>{{ captchaQuestion }}</span>
      <input type="text" placeholder="Jawaban" [(ngModel)]="captchaAnswer" />
    </div>

    <!-- BUTTON -->
    <button class="login-btn" (click)="login()">Masuk</button>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<style>
  .primary {
    background: red;
    color: white;
    border: 2px solid white;
  }

  .secondary {
    background: transparent;
    color: white;
    border: 2px solid white;
  }

  .login-card h4 {
    color: #cc3700;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 1px;
  }
  /* WRAPPER CENTER */
  .login-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh; /* 🔥 ini kuncinya */
  }

  body {
    overflow: hidden;
  }

  .content-login {
    position: fixed; /* 🔥 kunci utama */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20; /* di atas overlay */
  }

  /* CARD */
  .login-card {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  /* TITLE */
  .login-card h2 {
    margin-bottom: 25px;
    font-weight: bold;
  }

  /* INPUT */
  .form-group {
    margin-bottom: 15px;
  }

  .form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
  }

  /* PASSWORD */
  .password-group {
    position: relative;
  }

  .toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    color: #ff4500;
  }

  /* CAPTCHA */
  .captcha {
    text-align: left;
    font-size: 14px;
  }

  /* BUTTON */
  .login-btn {
    width: 100%;
    padding: 12px;
    background: #cc3700; /* orange tua */
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  .login-btn:hover {
    background: #a62d00;
  }
</style>
