<div class="content-login">
  <div class="login-card">
    <h4>Masukan Akun</h4>

    <!-- EMAIL -->
    <div class="form-group">
      <input
        type="email"
        placeholder="Username / Email"
        [(ngModel)]="email"
        [disabled]="isLoading"
      />
    </div>

    <!-- PASSWORD -->
    <div class="form-group password-group">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        [(ngModel)]="password"
        [disabled]="isLoading"
      />

      <i
        class="fa-solid"
        [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
        (click)="togglePassword()"
      >
      </i>
    </div>

    <!-- CAPTCHA -->
    <div class="form-group captcha">
      <span>{{ captchaQuestion }}</span>
      <input
        type="text"
        placeholder="Jawaban"
        [(ngModel)]="captchaAnswer"
        [disabled]="isLoading"
      />
    </div>

    <!-- BUTTON dengan loading state -->
    <button class="login-btn" (click)="login()" [disabled]="isLoading">
      <span *ngIf="!isLoading">Masuk</span>
      <span *ngIf="isLoading">
        <i class="fa-solid fa-spinner fa-spin"></i> Memproses...
      </span>
    </button>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
