<style></style>

<div class="container mt-4">
  <h3>Form Input Data</h3>

  <form [formGroup]="formData" (ngSubmit)="submitForm()">
    <div class="form-group mb-3">
      <label>Nama</label>
      <input type="text" class="form-control" formControlName="nama" />
      <small
        class="text-danger"
        *ngIf="formData.get('nama')?.touched && formData.get('nama')?.invalid"
      >
        Nama wajib diisi
      </small>
    </div>

    <div class="form-group mb-3">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" />
      <small
        class="text-danger"
        *ngIf="formData.get('email')?.touched && formData.get('email')?.invalid"
      >
        Email tidak valid
      </small>
    </div>

    <div class="form-group mb-3">
      <label>Telepon</label>
      <input type="text" class="form-control" formControlName="telepon" />
      <small
        class="text-danger"
        *ngIf="
          formData.get('telepon')?.touched && formData.get('telepon')?.invalid
        "
      >
        Telepon wajib diisi
      </small>
    </div>

    <div class="form-group mb-3">
      <label>Alamat</label>
      <textarea class="form-control" formControlName="alamat"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Simpan</button>
  </form>
</div>
