<div class="sidebar-wrapper">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img
          src="assets/img/LogoSRI_CROP.jpeg"
          style="transform: scale(0.65) translateY(-7px)"
        />
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
      <span class="text-sri">SRI</span> E-LEARNING
    </a>
  </div>
  <ul class="nav">
    <li
      *ngFor="let menuItem of menuItems"
      [ngClass]="[menuItem.class, isActive(menuItem.path) ? 'active' : '']"
    >
      <a [routerLink]="menuItem.path">
        <i class="nc-icon" [ngClass]="menuItem.icon"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
