<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a
            href="https://www.instagram.com/arnugrahaz/"
            title="Agestyo Rizki Nugraha"
          >
            Instagram Developer
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/agestyo-rizki-nugraha-5a3644319/"
            title="Agestyo Rizki Nugraha"
          >
            Linked IN
          </a>
        </li>
        <li>
          <!-- <a href="" title="Agestyo Rizki Nugraha"> Discord </a> -->
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ test | date: "yyyy" }}, made with
      <!-- <i class="fa fa-heart heart"></i>  -->
      by
      <a href="">ArNugraha</a>
    </div>
  </div>
</footer>
